*{
    padding: 0;
	margin: 0;
}

body{
    background-image: url("imagenes/fondo.png");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    font-family: "Bitstream Vera Serif Bold", serif;
}

button a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: white;
}

button a:hover {
    color: grey;
}

.contenedor{
	max-width:1000px;
	width:90%;
	margin:auto;
}

main {
	margin-top: 200px;
	color: #fff;
    background:#353534;
	padding: 20px;
	width:100%;
    margin-bottom: 20px;
	
}

main h2{
    padding:20px;
    text-align: center;
}

footer{
    color:white;
    width:100%;
    background: #353534;
    padding:20px;
    margin-top: 20px;
    margin-bottom:20px;
}

h1{
    padding: 20px;
}

.escudo {
	width: 120px;
	padding: 20px;
}

.container {
    position: relative;
    width: 200px; /* Ajusta el ancho según la imagen */
    height: 200px; /* Ajusta la altura según la imagen */
    overflow: hidden; /* Oculta la imagen cuando se mueve fuera del contenedor */
}

.imagen-movimiento {
    position: absolute;
    width: 100%; /* Ajusta el ancho de la imagen */
    height: 100%; /* Ajusta la altura de la imagen */
    animation: moverAdelanteAtras 3s infinite;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    transform: translateX(0);
}

.imagen-movimiento:nth-child(odd) {
    animation-direction: alternate;
}

#tabla {
    width: 100%;
    display: flex;
    justify-content: center;
}

#tabla tr {
    width: 100%;
}

#tabla button {
    width: 100%;
    margin: 20px;
}

.clasf {
    width: 100%;
}