*{
    padding: 0px;
	margin: 0px;
}

body{
    background-image: url("imagenes/fondo.png");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    font-family: "Bitstream Vera Serif Bold", serif;
}
button a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: white;
}

button a:hover {
    color: grey;
}

.contenedor{
	max-width:1000px;
	width:90%;
	margin:auto;
}

main {
	margin-top: 200px;
	color: #fff;
    background:#353534;
	padding: 20px;
	width:100%;
    margin-bottom: 20px;
	
}

main h2{
    padding:20px;
    text-align: center;
}

footer{
    color:white;
    width:100%;
    background: #353534;
    padding:20px;
    margin-top: 20px;
    margin-bottom:20px;
}

h1{
    padding: 20px;
}

.escudo {
	width: 120px;
	padding: 20px;
}

.container {
    position: relative;
    width: 200px; /* Ajusta el ancho según la imagen */
    height: 200px; /* Ajusta la altura según la imagen */
    overflow: hidden; /* Oculta la imagen cuando se mueve fuera del contenedor */
}


#tabla {
    width: 95%;
    display: flex;
    justify-content: center;
}

#tabla button {
    width: 100%;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    width: 100%;
    box-sizing: border-box;
}


.card img{
    width: 350px;
    margin-bottom: 30px;
}

.card-body {
    background-color: #353534;
    color: white;
}

.card a{
    color: white;
    text-decoration: none;
}

.card a:hover{
    color:black
}


.pie {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.pie .nombre {
    font-size: 18px;
}
.pie .social img {
    width: 24px;
    height: 24px;
}

.combate {
    width: 50%;
}

.combate .boton {
    display: flex;
    justify-content: center;
    width: 100%;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.titulo {
    text-align: center;
}

.animacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-image: url('imagenes/batalla.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
}
.pokemon img {
    max-height: 400px; /* Ajusta la altura máxima según sea necesario */
    margin-left: 10px;
}
.vs {
    max-height: 100px; /* Ajusta la altura del 'vs' según sea necesario */
    margin-right: 20px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; /* Espacio entre las columnas de los Pokémon */
}

.pokemon-carta {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    text-align: center;
}
.pokemon-carta p {
    margin: 5px 0;
    font-size: 14px;
}

.mensaje {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    display: none;
    justify-content: center;
}

.boton {
    display: flex;
    justify-content: center;
    width: 100%;
}

.vuelta{
    transform: scaleX(-1);
    margin-right: 30px;
}

.pelea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); /* Comienza con escala normal */
    max-height: 200px;
    animation: pulse 5s forwards; /* Duración de 5 segundos */
}

@keyframes pulse {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.1); } /* Escala al 50% */
    100% { transform: translate(-50%, -50%) scale(1); } /* Vuelve a la escala normal */
}
