*{
    padding: 0px;
	margin: 0px;
}

@font-face {
    font-family: 'Games';
    src: url(fuente/Games.ttf);
}
body{
    background-image: url("imagenes/fondo.png");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    padding-top: 56px;
                                                
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

.navbar-nav .nav-item .nav-link {
    white-space: nowrap;
}

.navbar-nav .nav-item img {
    max-height: 24px;
}

button a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: white;
}

button a:hover {
    color: grey;
}


.contenedor{
	max-width:1000px;
	width:90%;
	margin:auto;
    padding: 20px;
}

.portada {
    display: flex;
    justify-content: center;
}

.portada img {
    width: 500px;
    margin: 20px;
    padding: 20px;
}

main {
	margin-top: 200px;
	color: #fff;
    background:#353534;
	padding: 20px;
	width:100%;
    margin-bottom: 20px;
	
}

main video {
    width: 90%;
    margin-left: 50px;
}

main h2{
    padding:20px;
    text-align: center;
}

h1{
    padding: 20px;
}

.escudo {
	width: 120px;
	padding: 20px;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

/* Lista de Participantes */

.scroll {
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: 500px;
    overflow: auto;
    display: flex;
    justify-content: center;
}


#tabla {
    width: 95%;
    display: flex;
    justify-content: center;
    margin-right:50px;
}

#tabla button {
    width: 100%;
    margin: 20px;
}

/* Css de la carta del usuario */

.main-carta {
        margin-top: 200px;
        color: #fff;
        background:#353534;
        padding: 20px;
        width:100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    
}

.carta {
    width: 400px;
    padding: 20px;
    width:100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carta img {
    width: 100%; 
    display: block;
}

.cuerpo {
    padding: 20px;
    background-color: #f0f0f0;
}

.titulo-carta {
    margin-bottom: 10px;
}






/* Css del Pie de Página */

.pie {
    background-color: #333;
    color: white;
    padding: 20px;
    width:100%;
    margin-top: 20px;
    margin-bottom:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.pie .juegos {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.pie-img img {
    width: 250px;
    height: 100px;
}

.social img {
    width: 24px;
    height: 24px;
}

.social ul {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center; 
}

.pie ul {
    list-style: none;
    text-align: center;
}

.pie li {
    display: block;
    margin: 5px;

}

@media (max-width: 500px) {
    .pie {
        flex-direction: column;
        text-align: center;
    }
    .pie-img {
        margin-bottom: 20px;
    }
    .juegos, .social {
        margin: 20px 0;
    }
}

/* Css de Enfrentamiento1 */
.combate {
    width: 50%;
}

.combate .boton {
    display: flex;
    justify-content: center;
    width: 100%;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Css de Enfrentamiento2, Combate-usuario y Combate-usuario2 */

.titulo {
    text-align: center;
}



.batalla-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-image: url('imagenes/batalla.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
}
.pokemon img {
    max-height: 400px;
    margin-left: 10px;
}
.vs {
    max-height: 100px;
    margin-right: 20px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
}


.mensaje {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.boton {
    display: flex;
    justify-content: center;
    width: 100%;
}

.vuelta{
    transform: scaleX(-1);
    margin-right: 30px;
}

.contenedor-tabla {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lista {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

#lista th, #lista td {
    padding: 15px;
    text-align: left;
    border: solid;
}

#lista img {
    max-width: 50px;
    height: auto;
}


.login-container {
    max-width: 400px;
    width: 90%;
    margin: auto;
    padding: 20px;
  }

  .login input[type="text"], .login input[type="password"] {
    width: 100%;
    margin-bottom: 15px;
  }
  .login img {
    display: block;
    margin: auto;
  }

